<label>Fill in your personal details </label>
<div>
<label>Address Details </label>
</div>
<div class="form-group">
    <label for="title">Postal</label>
    <input type="text" class="form-control" name="name" ng-model="formData.postal">
</div>
<div class="form-group">
    <label for="firstname">Home</label>
    <input type="text" class="form-control" name="name" ng-model="formData.home">
</div>
<div class="form-group">
    <label for="isAddressChanged">Has postal address changed since last return lodged?</label>
    <div>
	<label>
           <span class="yesRadio">
		   <input type="radio" ng-model="formData.isAddressChanged" value="Yes" checked>
           Yes
		   </span>
		    <span class="noRadio">
		   <input type="radio" ng-model="formData.isAddressChanged" value="No">
           No
		    </span>
        </label>
		</div>
</div>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.profilebankdetails" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>