<div class="form-group">
    <label for="fileNo">Tax File No</label>
    <input type="text" class="form-control" name="name" ng-model="formData.fileNo">
</div>

<div class="form-group">
<datepicker date-format="yyyy-MM-dd" selector="form-control">
      <label for="email">Date Of Birth</label>
    <input type="text" class="form-control dob" name="email" ng-model="formData.email">


	<span class="fa fa-md fa-calendar calender-icon" style="cursor: pointer">
        
        </span>
		</datepicker> 
		
		
</div>

<!--

    
       <label for="dob">Date Of Birth</label>
	   
	 <input type="text" class="form-control" name="email" ng-model="formData.dob">
       

-->



<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.interests" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>